/*Общие стили для двух страниц*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: block;
  width: 240px;
  padding: 16px 0;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 3px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
/**/

/*Header*/
.main-header {
  width: 100%;
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  width: 1160px;
  padding: 0;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  border-bottom: 2px solid #fb565a;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 200px;
  padding: 0;
  padding-top: 30px;
  width: 440px;
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 30px;
  width: 120px;
  text-align: right;
}

/**/

/*footer*/

.main-footer {
  background-color: #ffffff;
  background-image: url("../img/footer-back.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.connection {
  position: relative;
  width: 1440px;
  height: 416px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  position: absolute;
  top: 54px;
  left: 140px;
  width: 319px;
  min-height: 308px;
  background-color: #ffffff;
  background-image: url("../img/address-back.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts-container {
  margin: auto;
  width: 220px;
  min-height: 210px;
}

.footer-contacts .addressee {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contacts address {
  margin-top: 30px;
  line-height: 18px;
  font-style: normal;
}

.footer-contacts .number-tel {
  margin: 0;
  margin-top: 18px;
}

.footer-contacts .tel {
  line-height: 18px;
  color: #000000;
}

.footer-contacts .write-btn {
  display: block;
  width: 219px;
  margin-top: 35px;
  padding: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 3px;
}

.footer-social .main-container {
  display: flex;
}

.social {
  display: flex;
  margin: 0;
  margin-top: 69px;
  padding: 0;
  list-style: none;
}

.social li {
  margin-right: 12px;
}

.social li:last-child {
  margin-right: 0;
}

.social .social-btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
}

.social .social-btn:hover {
  background-color: #e74246;
}

.social .social-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.social .social-btn-vk {
  background-image: url("../img/vk-icon.svg");
}

.social .social-btn-fb {
  background-image: url("../img/fb-icon.svg");
}

.social .social-btn-in {
  background-image: url("../img/insta-icon.svg");
}

.social .social-btn-vk:active,
.social .social-btn-fb:active,
.social .social-btn-in:active {
  opacity: 0.3;
}

.sale {
  margin-left: 140px;
}

.sale p {
  margin: 0;
}

.sale p:nth-child(1) {
  margin-top: 79px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.sale p:nth-child(2) {
  margin-top: 12px;
  line-height: 22px;
}
/**/

/*section modal-window*/
.modal-window {
  width: 960px;
  margin: 0 auto;
  min-height: 590px;
  background-color: #ffffff;
  background-image: url("../img/modal-back.png");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal-container {
  width: 760px;
  margin: 0 auto;
}

.modal-window h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-form .send-btn {
  display: block;
  width: 260px;
  padding: 16px;
  font: inherit;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.modal-form label {
  line-height: 18px;
  font-weight: 700;
}

.modal-form input,
.modal-form textarea {
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
  width: 360px;
  box-sizing: border-box;
  line-height: 18px;
  font: inherit;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  background-color: transparent;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-form input:invalid,
.modal-form textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}

.modal-form input:focus,
.modal-form textarea:focus {
  color: rgba(68, 68, 68, 1);
  outline: none;
  border: 2px solid #000000;
}

.modal-form textarea {
  width: 760px;
  height: 118px;
}
/**/

/*main index*/
.slider {
  box-sizing: content-box;
  position: relative;
  width: 100%;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item .slogan {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.offers {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.offer-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.offer-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.offer-list .btn {
  width: 160px;
}

.offer-list li:nth-child(2) .btn {
  background-color: #00ca74;
}

.offer-list li:nth-child(2) .btn:hover {
  background-color: #00bc6c;
}

.offer-list li:nth-child(2) .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.offer-list li:nth-child(3) .btn {
  background-color: #efc84a;
}

.offer-list li:nth-child(3) .btn:hover {
  background-color: #eab534;
}

.offer-list li:nth-child(3) .btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  border-top: 2px solid #eeeeee;
}

.studio .idea {
  margin: 0;
  margin-top: 76px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.studio .principles {
  margin: 0;
  margin-top: 40px;
}

.studio .work {
  margin: 0;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.work-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.work-list li {
  margin-top: 30px;
  position: relative;
  padding-left: 35px;
}

.work-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-image: url("../img/dash.png");
  background-repeat: no-repeat;
}

.figures {
  width: 360px;
}

.figures .logo {
  margin-top: 40px;
  width: 360px;
  height: 208px;
}

.figures > p {
  margin: 0;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.figure-item {
  display: flex;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}

.figure-item li:nth-child(1),
.figure-item li:nth-child(2) {
  margin-right: 25px;
}

.figure-item span {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.figure-item p {
  margin: 0;
  margin-top: 25px;
  line-height: 18px;
}

.partners {
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  min-height: 184px;
}

.partner-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  align-items: center;
  list-style: none;
}

.partner-item {
  margin: auto;
}

.partner-item img {
  opacity: 0.2;
}

.partner-item img:hover {
  opacity: 1;
}

.partner-item img:active {
  opacity: 0.1;
}
/**/

/*main catalog*/
.title {
  margin-bottom: 54px;
  width: 100%;
  background-color: #eeeeee;
}

.page-title {
  margin: 0;
  padding-top: 82px;
  padding-bottom: 113px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.catalog-column {
  display: flex;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
.filter-item:nth-child(2),
.filter-item:nth-child(3) {
  margin-top: 54px;
}

.filter-grid,
.filter-features {
  margin: 0;
  padding: 0;
}

.range-filter {
  box-sizing: content-box;
  width: 260px;
  margin-top: 49px;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-form ul {
  list-style: none;
  line-height: 20px;
}

.filter-input + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.filter-form .option-btn {
  display: block;
  width: 260px;
  margin-top: 48px;
  padding: 16px;
  line-height: 18px;
  font: inherit;
  font-weight: 500;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  word-wrap: break-word;
  border: none;
  border-radius: 3px;
}

.filter-form .option-btn:hover,
.filter-form .option-btn:focus {
  background-color: #dfdfdf;
}

.filter-form .option-btn:active {
  font: inherit;
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.right-column {
  width: 760px;
  margin-left: auto;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.sort-group {
  display: flex;
  width: 360px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
}

.sort p {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active,
.sort-item a:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog ul {
  list-style: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-top: 33px;
  border: 1px solid rgba(77, 77, 77, 0.1);
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item:nth-child(1),
.catalog-item:nth-child(2) {
  margin-top: 49px;
}

.catalog-item .review-website {
  height: 576px;
}

.catalog-item .buy-website {
  position: absolute;
  bottom: 0;
  width: inherit;
  margin: 0;
  display: none;
  min-height: 231px;
  background-color: #eeeeee;
}

.catalog-item:hover .buy-website {
  display: block;
}

.website a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.buy-website p {
  line-height: 18px;
  color: #666666;
}

.buy-website .buy-btn {
  width: 200px;
}

.buy-website .buy-btn:active {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
}

.pagination-item a {
  display: inline-block;
  width: 50px;
  margin-right: 11px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  padding-top: 14px;
  padding-bottom: 12px;
  color: #000000;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
}

.pagination-item-long a {
  width: 260px;
}
/**/
